.image-icon,
.image-description {
  display: flex;
}
.image-description {
   justify-content: space-between;
}  

.image-icon {
  margin-bottom: 10px;
  margin-top: 30px;
  float: right;
}

.green-icon,
.red-icon{
  padding-left: 6px;
  
}

.text-inferior h2{
  color: #eaeef3;
  margin-left: 35px;
  font-weight: bold;
  font-size: 27px;
}

.over-cards {
  background-color: hsl(228, 28%, 20%);
  width: 220px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.cards-social .image-description div img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.over-cards .image-description h2 {
  color: hsl(228, 12%, 44%);
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;

}

.over-cards p {
  color: white;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bolder;
  margin: 0px;
  float: left;
  margin-top: 30px;
}

.over-cards h3 {
  color: hsl(228, 12%, 44%);
  font-size: 11px;
  font-family: Helvetica;
  font-weight: bolder;
  margin: 0px;
  letter-spacing: 5px;
}

.over-cards h4.green-icon,
.over-cards h4.red-icon {
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
}
.over-cards h4.green-icon {
  color: hsl(163, 72%, 41%);
}

.over-cards h4.red-icon {
  color: hsl(356, 69%, 56%);
}




