.App {
  text-align: center;
}

.container-card-social{
  display: flex;
  justify-content: space-around;
  background-color: hsl(230, 28%, 13%);
  height: 210px;
}

.container-title-card-social{
  display: flex;
  background-color: hsl(230, 28%, 13%);
}

.container-card-overview{
  display: flex;
  justify-content: space-around;
  background-color: hsl(230, 28%, 13%);
  height: 140px;
  margin-top: 20px;

}
.container-title-card-over{
  display: flex;
  background-color: hsl(230, 28%, 13%);
  margin-top: 20px;
  height: 80px;
}